extends layout

block head
  title Imprint

block content
  h2 Imprint
  #imprint
    table
      tr
        td(class="left") Email:
        td mail@innovailable.eu
      tr
        td(class="left") Phone:
        td 0351 / 250 760 29
      tr
        td(class="left") Adress:
        td  Innovailable UG (haftungsbeschränkt)
          br
          | Hansastr. 10
          br
          | 01097 Dresden
      tr
        td(class="left") Executives:
        td Stephan Thamm, Kilian Ulbrich
      tr
        td(class="left") Register Court:
        td Amtsgericht Dresden
      tr
        td(class="left") Company Registration Number:
        td HRB 28683
