doctype html
html
  head
    meta(charset='utf-8')
    script(src="/js/frontend.js" type="text/javascript")
    link(href="/css/style.css" rel="stylesheet" type="text/css")
    title Test site
  body
    h1 Kilian is an h1 nazi!

    h2#title

    #prompt

    #video

    #input
