extends layout

block head
  - // TODO: this is hacky ... move somewhere else?
  - options = {}
  - options.stun = process.env.STUN
  - options.url_base = process.env.URL_BASE
  - options.echo_server = process.env.ECHO
  - options.signaling = process.env.SIGNALING

  title WebRTC Test
  script(src="/js/frontend.js" type="text/javascript")
  script(type="text/javascript")
    | var options = !{JSON.stringify(options)}


block content
  h2#title

  #video

  #prompt

  #input
